<section class="section-hero">
  <div class="container">
    <div class="hero-content-wrap">
      <div class="hero-content-left">
        <h1 class="page-title">Sell, Fulfill, and Service on One Platform!​</h1>
        <div class="hero-subtext">
          <p>High-security platform to handle highly sensitive data</p>
          <p>
            Resolve customer inquiries, issues, disputes, and requests quickly
            and effectively
          </p>
          <p>Real-time visibility into orders</p>
          <p>
            Ditch silos and manual processes and grow to the level of factory
            4.0. 
          </p>
        </div>
        <a href="#" class="button">Schedule your demo today</a>
      </div>
      <div class="hero-content-right">
        <p class="hero-circle-title">one platform</p>
        <div class="outer-circle">
          <div class="circle-item" style="--angle: 0deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-crm"></use>
              </svg>
              <p>
                Sales <br />
                CRM
              </p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 36deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-order"></use>
              </svg>
              <p>Quote<br />Order</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 72deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-supply"></use>
              </svg>
              <p>Supply<br />Chain</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 108deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-product"></use>
              </svg>
              <p>Product<br />Service</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 144deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-contract"></use>
              </svg>
              <p>Contracts</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 180deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-vendor"></use>
              </svg>
              <p>Vendor<br />Management</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 216deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-engineering"></use>
              </svg>
              <p>Engineering</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 252deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-logistic"></use>
              </svg>
              <p>Logistics</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 288deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-equipment"></use>
              </svg>
              <p>Equipment<br />Maintenance</p>
            </div>
          </div>
          <div class="circle-item" style="--angle: 324deg">
            <div class="circle-item-content">
              <svg width="50" height="50">
                <use href="./img/icons.svg#icon-warranty"></use>
              </svg>
              <p>Maintenance<br />Support<br />Warranty</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
