.section-hero {
  background-color: #fef8f5;
}
.hero-content-wrap {
  display: flex;
  align-items: center;
  gap: 40px;
  /* Ensure content wraps on smaller screens */
}
.hero-content-left {
  flex-basis: 100%; /* Full width on smaller screens */
}
.hero-subtext {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-content-right {
  flex-basis: 100%; /* Full width on smaller screens */
  position: relative;
  min-height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-circle-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}
.outer-circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* Maintain square aspect ratio */
  border-radius: 50%;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  margin-top: -65px; /* Adjust half of the height */
  margin-left: -65px; /* Adjust half of the width */
  transform: rotate(var(--angle)) translateX(13vw)
    rotate(calc(-1 * var(--angle)));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-secondary);
  border-radius: 100%;
  background-color: var(--background-color-primary);
  box-shadow: 0 4px 32px 0 rgba(242, 68, 5, 0.08);
  border: 2px var(--border-secondary) dotted;
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation and translation */
}

.circle-item-content {
  padding: 8px;
}

.circle-item-content svg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: var(--color-brand-red);
}

.circle-item-content p {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: var(--color-brand-red);
}

/* Media Queries for responsiveness */
@media (max-width: 1280px) {
  .circle-item {
    width: 100px;
    height: 100px;
    margin-top: -50px; /* Adjust half of the height */
    margin-left: -50px; /* Adjust half of the width */
    transform: rotate(var(--angle)) translateX(150px)
      rotate(calc(-1 * var(--angle)));
  }

  .circle-item-content svg {
    width: 40px;
    height: 40px;
  }

  .circle-item-content p {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .circle-item {
    width: 80px;
    height: 80px;
    margin-top: -40px; /* Adjust half of the height */
    margin-left: -40px; /* Adjust half of the width */
    transform: rotate(var(--angle)) translateX(100px)
      rotate(calc(-1 * var(--angle)));
  }

  .circle-item-content svg {
    width: 30px;
    height: 30px;
  }

  .circle-item-content p {
    font-size: 9px;
  }
}

@media (max-width: 480px) {
  .hero-content-wrap {
    flex-direction: column;
  }

  .hero-content-left,
  .hero-content-right {
    flex-basis: 100%;
  }

  .circle-item {
    width: 60px;
    height: 60px;
    margin-top: -30px; /* Adjust half of the height */
    margin-left: -30px; /* Adjust half of the width */
    transform: rotate(var(--angle)) translateX(75px)
      rotate(calc(-1 * var(--angle)));
  }

  .circle-item-content svg {
    width: 20px;
    height: 20px;
  }

  .circle-item-content p {
    font-size: 8px;
  }
}
